:root {
    --primary-background: #15141a;
    --secondary-background: #23222b;
    --text-color: #fbfbfe;
    --text-unimportant: rgba(207,207,216,0.6509803921568628);
    --keystroke-text-color: #cfcfd8;
    --keystroke-background-color: #2b2a33;
    --keystroke-border-color: #3a3944;
    --table-border-color: #52525e;
    --primary-accent: #f16b8c;
}

body {
    display: flex;
    margin: 0;
    background-color: var(--secondary-background);
    font-family: Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav button {
    font-size: 1rem;
    width: 3rem;
    margin-right: .5rem;
    background-color: var(--primary-accent);
    border: 1px solid var(--text-color);
    border-radius: .8rem;
    font-weight: bold;;
    color: var(--text-color);
}

main {
    font-size: 1.2em;
    margin: auto;
    width: 65ch;
    min-height: 100vh; /* for loading time */
    padding-inline: 5ch;
    padding-bottom: 5ch;
    background-color: var(--primary-background);
}

table {
    width: 100%;
    margin-bottom: 3ch;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid var(--table-border-color);
}

td {
    padding: 2ch;
}

kbd.shortcut {
    user-select: none;
    white-space: nowrap;
}

kbd > kbd.keystroke {
    display: inline-block;
    background-color: var(--keystroke-background-color);
    border: 2px solid var(--keystroke-border-color);
    border-radius: 5px;
    padding: 2px 4px;
    color: var(--keystroke-text-color);
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0.2rem 0.2rem var(--keystroke-background-color);
}

td:first-child {
    text-align: center;
}

#settings-button {
    position: fixed;
    inset: auto 1rem 1rem auto;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

#settings-dialog {
    width: auto;
    height: auto;
    inset: auto 1rem 5rem auto;
}

mark {
    background: none;
    color: var(--primary-accent);
    text-decoration: underline 2px;
}

small {
    color: var(--text-unimportant);
}

small::before {
    content: '(';
}

small::after {
    content: ')';
}


/* responsive on mobile */
@media screen and (max-width: 70ch) {
    main {
        width: 100%;
        padding-inline: 1ch;
        font-size: 1em;
    }
}

/* print */
section {
    break-inside: avoid;
}

@media print {
    body {
        --primary-background: white !important;
        --secondary-background: white !important;
        --text-color: black !important;
        --text-unimportant: rgba(107,107,116,0.6509803921568628) !important;
        --keystroke-text-color: #cfcfd8 !important;
        --keystroke-background-color: rgb(77, 75, 88) !important;
        --keystroke-border-color: #444350 !important;
        --table-border-color: black !important;
    }

    nav, footer {
        display: none;
    }
}
