body.classic {
    --primary-background: white;
    --secondary-background: lightgray;
    --text-color: black;
    --text-unimportant: rgba(207,207,216,0.6509803921568628);
    --keystroke-text-color: black;
    --keystroke-background-color: lightgray;
    --keystroke-border-color: gray;
    --table-border-color: black;
}

body.dark {
    --primary-background: #15141a;
    --secondary-background: #23222b;
    --text-color: #fbfbfe;
    --text-unimportant: rgba(207,207,216,0.6509803921568628);
    --keystroke-text-color: #cfcfd8;
    --keystroke-background-color: #2b2a33;
    --keystroke-border-color: #3a3944;
    --table-border-color: #52525e;
}

body {
    display: flex;
    margin: 0;
    background-color: var(--secondary-background);
    font-family: Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

main {
    font-size: 1.2em;
    margin: auto;
    width: 65ch;
    padding-inline: 5ch;
    padding-bottom: 5ch;
    background-color: var(--primary-background);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid var(--table-border-color);
}

td {
    padding: 2ch;
}

kbd {
    user-select: none;
}

kbd > kbd {
    display: inline-block;
    background-color: var(--keystroke-background-color);
    border: 1px solid var(--keystroke-border-color);
    border-radius: 5px;
    padding: 2px 4px;
    color: var(--keystroke-text-color);
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

td:first-child {
    text-align: center;
}

#settings-button {
    position: fixed;
    inset: auto 1rem 1rem auto;
    padding-inline: 1rem;
    padding-block: 0.5rem;
}

#settings-dialog {
    width: auto;
    height: auto;
    inset: auto 1rem 5rem auto;
}

small {
    color: var(--text-unimportant);
}

small::before {
    content: '(';
}

small::after {
    content: ')';
}


/* print */

section {
    break-inside: avoid;
}

@page :first {
    margin-block: 1cm;
    margin-inline: 1cm;
}