body.dark {
    --primary-background: #15141a;
    --secondary-background: #23222b;
    --text-color: #fbfbfe;
    --text-unimportant: rgba(207,207,216,0.6509803921568628);
    --keystroke-text-color: #cfcfd8;
    --keystroke-background-color: #2b2a33;
    --keystroke-border-color: #3a3944;
    --table-border-color: #52525e;
}